---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import { pageContainer, pageTitle } from "../styles/common.css";
import CrudToolbar from "../components/crud/CrudToolbar.astro";
import CrudTable from "../components/crud/CrudTable.astro";
import CrudForm from "../components/crud/CrudForm.astro";
import HtmxLoading from "../components/crud/HtmxLoading.astro";
import { txTypeColumns, txTypeEntity } from "../features/transaction-types";
---

<Layout>
  <main class={pageContainer}>
    <Nav current="transaction-types" />
    <h1 class={pageTitle}>取引区分管理</h1>

    <div x-data="{ open: false }">
      <CrudToolbar
        baseUrl="/api/transaction-types"
        bodyTargetId="txtypes-body"
        tableId="txtypes-table"
      />
      <CrudForm columns={txTypeColumns} entity={txTypeEntity} />
    </div>

    <CrudTable
      columns={txTypeColumns}
      bodyId="txtypes-body"
      baseUrl="/api/transaction-types"
      paginationId="txtypes-pagination"
      tableId="txtypes-table"
    />
    <HtmxLoading />
  </main>
</Layout>
